@font-face {
    font-family: "Norse";
    src: url("./Stock/Fonts/Norse-Bold.otf");
  }

body{
    font-family: "Norse", sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.FirstClass{
    display: flex;
    flex-direction: row;
}



.Left{
    position: relative;
    flex: 0.4;

    z-index: 1;
}

.Left img{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    translate: (-50%,-50%);
}

.Left .greybgtxt{
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    width: 100%;
    height: 3rem;
    z-index: 2;
    top: 5rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Left .greybgtxt p{
    color: rgb(255, 255, 255);
}

.Right{
    flex: 0.6;
    background-color: black;
}

.Right .header{
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 20%;
    
}

.Right .header p{
    word-spacing: 2px;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.Right .text2{
    margin-top: 3rem;
    margin-left: 5%;
    
}

.Right .text2 p{
    word-spacing: 2px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.Right .formbox{
    margin-top: 4rem;
    background-color: rgb(8, 8, 8);
    height: 40%;
}

.Right .formbox .form1 p{
    padding-top: 1rem;
    margin-left: 5%;
    font-size: 22px;
    color: rgb(160, 160, 160);
}

.Right .formbox .form1 label{
    color: rgb(208, 208, 208);
    font-size: 16px;
    letter-spacing: 3.5px;
}

.Right .formbox .form1 fieldset{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.Right .formbox .form1 fieldset div{
    flex: 0.5;
}


.Right .formbox .form1 input{
    background-color: rgb(0, 0, 0);
    width: 70%;
    color: rgb(208, 208, 208)
}

.Right .formbox .form1 .set2{
    margin-top: 1.5rem;
}

.Right .formbox .form1 .set3{
    margin-top: 1.5rem;
}

.Right .formbox .form2{
    margin-top: 4rem;
}

.Right .formbox .form2 button{
    margin-left: 5%;
    width: 40%;
    height: 3.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid rgb(128, 255, 0);
    color: rgb(128, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 1000;
}

.Right .formbox .form2 p{
    padding-top: 3rem;
    margin-left: 5%;
    letter-spacing: 2px;
}

.Right .formbox .form2 a{
    color: rgb(128, 255, 0);
}